    <!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/projects">Projects</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span><%= project.name %></span>
            </li>
        </ul>
    </div>
    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title">
        <%= project.name %>
    </h3>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <a href="/projects" class="btn default" title="Go Back"><i class="fa fa-mail-reply"></i><span class="hidden-xs"> Back</span></a>
                            <!--<a href="/projects/edit/<%= project.id%>" class="btn btn-transparent green active" title="Edit Movie"><i class="fa fa-edit"></i><span class="hidden-xs"> Edit</span></a>-->
                            <a href="/project/deleterecord/<%= project.id%>" class="btn btn-sm red delete" title="Delete Project" data-confirm="Are you sure to delete this Project?"><i class="fa fa-trash-o"  ></i>&nbsp;Delete</a>
                        </div>
                    </div>
                    <h3 class="form-section">Project Info</h3>
                </div>
                <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Name</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            <%= project.name %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description :</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            <%= project.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Image :</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                             <img src="/images/<%= project.image %>" alt="img" height="60" width="60" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Status :</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            <%= project.status %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <script src="/global/scripts/myutils.js" type="text/javascript"></script>
</body>
</html>